*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background-color: rgb(10, 25, 47);
  font-family: "Inconsolata", monospace;
}

#index-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  min-width: 100vw;
  margin-top: 100px;
  margin-bottom: 50px;
  gap: 40px;
}

h1,
p,
.link-text,
li {
  color: rgb(204 214 246);
  /* color: #8892b0; */
}

#intro-image {
  height: 500px;
  width: auto;
}

#intro-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 250px;
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
}

#about-container {
  display: flex;
  flex-direction: column;

  gap: 40px;
  padding: 50px;
}

#about-container p {
  align-items: flex-start;
  font-size: 18px;
  max-width: 600px;
}

#about-links {
}
.technologies-section {
  max-width: 600px;
}

.technologies-list {
  display: flex;
  flex-direction: row;

  margin: 10px 0px 0px 20px;
  gap: 100px;
  font-size: 18px;
}

.technologies-list li {
  list-style-image: url(/img/icon-chevron-right.svg);
  margin: 10px 0;
}
