*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background-color: rgb(10, 25, 47);
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  min-width: 100vw;
  margin-top: 100px;
  margin-bottom: 50px;
  gap: 40px;
}

h1,
p,
.link-text {
  color: rgb(204 214 246);
}

#intro-image {
  height: 500px;
  width: auto;
}

#intro-links,
#about-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 250px;
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
}

img {
  height: 30px;
  width: auto;
}
